.nav-template {
  background-color: #f39a71;
  padding: 3% 12% 3vw 8%;
  height: 120px;
}
.nav-username {
  font-size: 1.5rem;
}

.logo {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 18%;
}

.customColor {
  color: #f8f8ff !important;
}

.customColor:hover {
  color: #f8f8ffcb !important;
}

@media (max-width: 992px) {
  .logo {
    font-size: 2rem;
  }
  .nav-template {
    min-height: 120px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .nav-template-link {
    width: 9vw;
    padding-right: 0.5rem;
    padding-left: 2.5rem;
  }
}
