.acc-header .accordion-button {
  font-size: 1.4rem;
  color: #f06f33;
}

.acc-btn {
  background-color: #f39a71;
  color: #fff;
  border-color: #f06f33;
}

.acc-btn:hover {
  background-color: #fff;
  color: #f06f33;
  border-color: #f06f33;
}
